@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.8em;
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #202020;
    color: #fff;
    overflow: hidden;
}

#resultado {
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    
    overflow: hidden;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 60px;
    padding: 15px;
}

.btn {
    padding: 10px;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}

.btn:hover {
    opacity: 0.5;
}

#limpar {
    grid-column: span 2;
}

#del {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

#calc {
    grid-column: span 2;
}